* {
    margin: 0;
    padding: 0;
  }
  
  nav {
    margin:  50px;
    padding: 30px;
    background-color: #333;
  }
  
  ul {
    overflow: auto;
    list-style-type: none;
  }
  
  li {
    float: left;
    margin-right: 0px;
    list-style-type: none;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    text-decoration: none;
    color: rgb(51, 255, 51);
    font: 25px/1 Arial, Veranda, sans-serif;
    text-transform:uppercase;
    padding: 0 20px;
  }

  li a:hover {
   background-color: rgb(51, 255, 51);
   color: black;
  }

  li.active a {
    background-color: rgb(51, 255, 51);
    color: black;
  }